
html{
  position: absolute;
  height: 100%;
}

body, #root{
  position: relative;
  height: 100%;
}

.App {
  height: 100%;
  position: relative;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


.height-100{
  height: 100%;
  position: relative;
}
